.cart {
    margin-left: 29px;
    color: var(--text-color);
    position: relative;
}

.cart:hover {
    color: var(--red);
}

.cart::after {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    content: "3";
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--red);
    background-color: var(--red);
    font-size: 11px;
    left: 17px;
    bottom: 25px;
}