:root {
    --On:red;
    --Off:gray;
}

.slider {
    /*bottom: 60px;*/
    height: 415px;
    display: flex;
    position: relative;
}
.slider__container {
    width: 1140px;
}

.slider__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.slider__switcher {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 18px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.slider__button {
    margin:0;
    padding:0;
    border:none;
    cursor:pointer;
    width: 10px;
    height: 10px;
    background: linear-gradient(to right, var(--Off), var(--On) 50%);
    background-size: 500% 10%;
    transition: all 1s ease;
}

.slider__button.on {
    margin:0;
    padding:0;
    border:none;
    cursor:pointer;
    width: 20px;
    height: 20px;
    transition: all 1s ease;
    background-position: right;
}
